body{
    background-color: beige;
    font-family: garamond;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.h1{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: rgb(65, 34, 52);
    color: rgb(211, 178, 95);
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: 2px 2px 8px #111;
    padding: 10px;
    z-index: 100;
}
.hederi{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: large;
    background-color: rgb(65, 34, 52);
}
.b{
    border-color: white;
    font-family: garamond;
    border-radius: 13px;
    height: 30px;
    width: 70px;
}
li{
    display: flex;
    flex-wrap: nowrap;
    margin-left: 10px;
    margin-right: 10px;
}
li>a{
    text-decoration: none;
    color: rgb(211, 178, 95);
}
.drop{
    background-color: rgb(65, 34, 52);
    color: rgb(211, 178, 95);
    font-size: large;
    height: 50px;
    border: none;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: #111;
    border-radius: 5px;
}
.content>a{
    color: rgb(65, 34, 52);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
}

.content a:hover{
    background-color: #ddd;
}
.dropdown:hover .content{
    display: block;
}
.f1{
    padding: 45px;
    margin: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 8px #111;
}
.orari{
    background-color: beige;
}
.f1>p{
    font-size: 22px;
}
.f2{
    width: 23%;
}
.f2>ul{
    flex-direction: column;
    align-items: flex-start;
    font-size: 22px;
}
.f2>ul>li{
    margin-bottom: 10px;
}
.butoni{
    border-radius: 2px;
    border-color: rgb(65, 34, 52);
    color: rgb(65, 34, 52);
    font-family: garamond;
}
.quote{
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 35px;
    margin-left: 30px;
    background-image: url(books1.jpg);
    background-size: 100% 100%;
    height: 600px;
    width: 95%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 8px #111;
}
.tekst{
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 34px;
    padding: 10px;
    text-align: center;
    font: monospace;
    font-style: italic;
    box-shadow: 2px 2px 8px #111;
    background: transparent;
    backdrop-filter: blur(20px);
}
.f{
    background-color: rgb(65, 34, 52);
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
    padding: 15px;
    color: whitesmoke;
    box-shadow: 2px 2px 8px #111;
}
.footerleft{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
    color: whitesmoke;
    padding-left: 40px;
}
.footerright{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
    padding-right: 40px;
}
.footerright>a{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    body{
        font-size: 14px; /* Adjust the base font size for smaller screens */
    }
    .h1{
        height: auto;    
    }
    .hederi{
        font-size: 10px;
    }
    li{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        margin-left: 0;
        margin-right: 0;
    }
    .dropdown .drop{
        font-size: 10px;
    }
    .b{
        max-width: 40px;
        font-size: 10px;
    }
    .logo img{
        max-width: 25vw;
        height: auto;
    }
    .f1 #aboutus{
        font-size: 20px;
    }
    .blej{
        width: 90%;
        font-size: 14px;
    }
    .f2 .orari{
        font-size: 14px;
    }
    .container{
        font-size: 15px;
    }
    .quote{
        width: 84vw;
        height: 40vh;
    }
    .quote .tekst{
        font-size: small;
    }
    .f2{
        width: 50vw;
    }
}